<%- include('includes/head.ejs') %>
   
    
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <main>
       <h1>My Products</h1>
       <p>List of all products...</p>

       <div>
            <% if (prods.length > 0) { %>
            <div>
                <% for (let product of prods) { %>
                <li> 
                    <h1> <%= product.title %> </h1>
                    <img src="https://www.shutterstock.com/image-photo/id-like-image-that-represents-260nw-2546167707.jpg", alt="A book" >   
                    <h3> Price: €19.99 </h3>
                    <p> Description: It is a very interesting book!!! </p>
                </li>
            

                <button> Add to Cart </button>
            </div>
            <% } %>  
            
            <% } else {  %>
                <h1> No products Found!</h1>
             <% } %>   
    </div>
    </main>
<%- include('includes/end.ejs') %>